In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))
# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [28]:
aa=pd.DataFrame()
for dirname, _, filenames in os.walk('./data/Datasets'):
    if 'other' in dirname : continue # skip
    for filename in filenames:
        
        df=pd.read_csv(os.path.join(dirname, filename))
        df['filaname']=filename
        df['season'] = filename.split('.')[0]
        aa=pd.concat([aa,df])
aa.drop_duplicates().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8020 entries, 0 to 379
Columns: 146 entries, Div to AvgCAHA
dtypes: float64(120), int64(16), object(10)
memory usage: 9.0+ MB

In [ ]:
aa['season']
for i,c in enumerate(aa.columns): print (i,c )

In [34]:
# aa['Date']=pd.to_datetime(aa.Date, format='yyyy-mm-dd')
matches=aa.iloc[: , :24, ]
matches['season'] = aa.season
matches['fouls']=matches['HF'] + matches['AF']
matches['goals']=matches['FTHG'] + matches['FTAG']
matches['corners']=matches['HC'] + matches['AC']
# matches['year']=matches.Date.dt.year

In [35]:
matches.loc[matches.HomeTeam == 'Arsenal'].head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HC,AC,HF,AF,HO,AO,season,fouls,goals,corners
10,E0,21/08/00,Arsenal,Liverpool,2,0,H,1,0,H,...,10,11,25,20,5.0,4.0,2000-01,45,2,21
19,E0,26/08/00,Arsenal,Charlton,5,3,H,1,2,A,...,8,3,12,15,3.0,2.0,2000-01,27,8,11
49,E0,16/09/00,Arsenal,Coventry,2,1,H,1,0,H,...,8,4,5,13,3.0,0.0,2000-01,18,3,12
76,E0,01/10/00,Arsenal,Man United,1,0,H,1,0,H,...,3,11,18,17,8.0,1.0,2000-01,35,1,14
79,E0,14/10/00,Arsenal,Aston Villa,1,0,H,0,0,D,...,7,4,12,20,3.0,3.0,2000-01,32,1,11

In [36]:
matches_h = matches[['season','HomeTeam', 'FTHG', 'FTAG']].rename(columns={'HomeTeam':'team', 'FTHG':'G_scored', 'FTAG':'G_recieved'}).set_index(['team', 'season'])
matches_a = matches[['season','AwayTeam', 'FTAG', 'FTHG']].rename(columns={'AwayTeam':'team', 'FTAG':'G_scored', 'FTHG':'G_recieved'}).set_index(['team', 'season'])
matches_pt = pd.concat([matches_h, matches_a]).reset_index()
matches_pt

              team   season  G_scored  G_recieved
0         Charlton  2000-01         4           0
1          Chelsea  2000-01         4           2
2         Coventry  2000-01         1           3
3            Derby  2000-01         2           2
4            Leeds  2000-01         2           0
...            ...      ...       ...         ...
16035   Man United  2021-22         0           1
16036  Southampton  2021-22         1           4
16037       Wolves  2021-22         1           3
16038  Aston Villa  2021-22         2           3
16039    Tottenham  2021-22         5           0

[16040 rows x 4 columns]

In [37]:
highest_score = matches_pt.reset_index().groupby(['season', 'team']).sum().sort_values(by='G_scored', ascending=False)
# highest_score.to_csv('./out/highest_score.csv')

In [38]:
highest_score

                         index  G_scored  G_recieved
season  team
2017-18 Man City        405127       106          27
2009-10 Chelsea         289428       103          32
2013-14 Man City        347483       102          37
        Liverpool       347282       101          50
2021-22 Man City        449736        99          26
...                        ...       ...         ...
2018-19 Cardiff         166820        15          30
        Southampton     182904        13          30
        Newcastle       166856        13          22
        Crystal Palace  182892        13          23
        Huddersfield    174856        10          27

[440 rows x 3 columns]

In [ ]:
my_matches = matches[['year','HomeTeam', 'AwayTeam', 'FTHG', 'FTAG']]
my_matches['year'] = matches['Date'].dt.year

In [ ]:
# my_matches.head()
my_matches.groupby(['HomeTeam', 'year']).sum()

In [ ]:
matches=aa.iloc[: , :24]
matches['fouls']=matches['HF'] + matches['AF']
matches['goals']=matches['FTHG'] + matches['FTAG']
matches['corners']=matches['HC'] + matches['AC']
matches.hist(bins=40,figsize=(15,20))

In [ ]:
matches.info()

In [ ]:
matches.plot(x='corners',y='goals',kind='scatter')

In [ ]:
a=pd.read_csv('/kaggle/input/english-premier-league/final_dataset.csv')
b=pd.read_csv('/kaggle/input/english-premier-league/Datasets/2019-20.csv')
with open('/kaggle/input/english-premier-league/Datasets/Dataset-Explanation.txt') as f:
    exp=f.read()

In [ ]:
print(exp)

In [ ]:
print(len(a),len(b))
#a.Date.value_counts
for i in range(0,110,10):
    print(b.columns[i:i+10])

In [ ]:
aa.sample(10)

In [ ]:
teamsh=matches.copy()[['HomeTeam','Date','FTHG','FTAG']]
teamsh['home/away']='Home'
teamsh.rename(columns={'HomeTeam':'Team','FTHG':'goals','FTAG':'goals_in'},inplace=True)
teamsh
teamsa=matches.copy()[['AwayTeam','Date','FTAG','FTHG']]
teamsa['home/away']='Away'
teamsa.rename(columns={'AwayTeam':'Team','FTAG':'goals','FTHG':'goals_in'},inplace=True)
teams=pd.concat([teamsh,teamsa])
#z=teams.set_index(['Team','Date']).sort_index()
teams[teams['Team']=='Arsenal'].set_index('Date').sort_index().plot(figsize=(15,10))